* {
    margin: 0;
    padding: 0;
}

body {
    font-family: futura, sans-serif;
    width: 1920px;
    height: 1080px;
    
}

nav {
    position: fixed;
    font-size: 20px;
    bottom: 20px;
  padding-left: 20px;
    height: 50px;
    background-color: #002855;
     box-shadow: 5px 5px 1px lightblue;
}

nav li {
    width: 250px;
    text-align: center;
    margin-right: 20px;
    float: left;
    list-style-type: none;
    color: white;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    padding-top:10px;
    padding-bottom: 10px;
}

nav li:nth-child(1), nav li:nth-child(1) a{
 background-color:white;
    color: #C99700;
}

a:link{
 text-decoration: none;
color:white;
    
}


a:visited {
     text-decoration: none;
    color: white;
    
}

nav li:hover{
    background-color: white;
}

nav a:hover {
    color: #C99700
}


section{
    float:left;
    width: 250px;
    margin-right:20px;
    height: 1080px;
}





#column1Image{
height: 700px;
    //margin-top: -500px;
  
}

#column2Image, #column3Image {
    height: 950px;
    //margin-top: -500px;
   
}

#column1Image {
    background-image: url(../images/internship-pic-01.png);
    background-size:250px;
}
 

#column2Image {
    background-image: url(../images/internship-pic-02.png);
    background-size:250px;
}

#column3Image {
    background-image: url(../images/internship-pic-03.png);
    background-size:250px;
}



/*------ COLUMN 1 CSS HERE -----*/ 
#column1 {
  //background-color: lightgrey;
    margin-left: 20px;
}



#careersButton, #internshipsButton {
     position: absolute;
 color:white;
    font-size: 20px;
    width: 220px;
    
       
    background-color:  #9CAF88; /*sage green*/
    padding: 30px 30px 0px 10px;
    
}


#careersButton{
    bottom: 170px;
    max-width: 250px;

}

#internshipsButton{
    bottom: 100px;
    max-width: px;
    background-color:grey;}




#sectiontitle{
    position:absolute;
    bottom: 310px;
    margin-top: 10px;
    width: 250px;
    text-align: center;
    background-color:white;

}

.blueItalic {
    font-size: 20px;
    color: #002855;
    font-style: italic;
}

.goldBold {
    font-size: 30px;
    color:  #C99700;
    font-weight: 800;
}




/*----- COLUMN 2 CSS HERE ----- */
#column2 #secondaryHeader {
 position:absolute;
    width: 520px;
    height:80px;
    margin-top: 10px;
    //bottom: 0px;

 
    
}

#secondaryHeader h3{
    padding: 20px 0px 0px 10px;
    background-color: #9CAF88;
    font-size: 32px;
    color:white;

}

#secondaryHeader p{
    padding-left: 25px;
    color:grey;
}



#column2 ul {

 list-style-type: none;
    position: absolute;
   bottom: 100px; 
}

#column2 ul li{
padding: 5px 80px 0px 30px;
margin-bottom: 10px;   
background-color: white;

}

#column2 ul .tertiaryTitle, #column2 ul .tertiaryTitle:hover{
color:#94b8e3;
    font-weight: 600;
    padding-left: 10px;
    background-color:white;
}

#column2 ul li:hover{
    background-color: #9CAF88;
}



#column2 ul li:last-child{
 margin-bottom: 0px;   
}






/*----- COLUMN 3 CSS HERE ----- */

#column3 {
    
     // background-color: lightgrey;
}



/*----- COLUMN 4 CSS HERE ----- */
#column4 {
    
  //background-color: lightgrey;
}


/*----- COLUMN 5 CSS HERE ----- */
#column5{
      //background-color: lightgrey;
    
}




/*----- COLUMN 6 CSS HERE ----- */
#column6{
    
     //background-color: lightgrey;
}




/*----- COLUMN 7 CSS HERE ----- */



#column7Image {
    height:1000px;
    background-image: url(../images/infoColumn.svg);
    background-repeat: no-repeat;
    background-size:280px 1080px;
 
    
}


embed{
 visibility: hidden;
    position:absolute;
      height: 1000px;
    margin-top: 15px;
    width: 800px;
}


.swfObject1,.swfObject2, .swfObject3,

.swfObject2-1, .swfObject2-2, .swfObject2-3, .swfObject2-4, .swfObject2-5, .swfObject2-6, .swfObject2-7, .swfObject2-8, .swfObject2-9, .swfObject2-10, .swfObject2-11, .swfObject2-12, .swfObject2-13, .swfObject2-14, 
{
    position:absolute;
    height: 1000px;
    margin-top: 15px;
    width: 800px;
}


#careersUl {
   // visibility: hidden;
}

#internshipsUl{
  visibility: hidden;
}
