* {
    margin: 0;
    padding: 0;
}

body {
    font-family: futura, sans-serif;
    width: 1920px;
    height: 1080px;
}

nav {
    position: fixed;
    font-size: 20px;
    bottom: 20px;
    padding-left: 20px;
    height: 50px;
    background-color: #002855;

}

nav li {
    width: 250px;
    text-align: center;
    margin-right: 20px;
    float: left;
    list-style-type: none;
    color: white;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav li:nth-child(6),
nav li:nth-child(6) a {
    background-color: white;
    color: #C99700;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

nav li:hover {
    background-color: white;
}

nav a:hover {
    color: #C99700
}

section {
    float: left;
    width: 250px;
    margin-right: 20px;
    height: 1080px;
}

#column1Image {
    height: 620px;
    

}

#column2Image{
    height: 430px;
   
}

#column1Image {
    background-image: url(../images/people-pics-01.png);
    background-size: 250px;
}

#column2Image {
    background-image: url(../images/people-pics-02.png);
    background-size: 250px;
}

/*------ COLUMN 1 CSS HERE -----*/

#column1 {
    //background-color: lightgrey;
    margin-left: 20px;
}

#generalButton, #advisingButton, #facultyButton, #facilitiesButton {
    position: absolute;
    color: white;
    font-size: 20px;
    width: 220px;
    background-color: #002855;
    /*light blue*/
    padding: 30px 30px 0px 10px;
}


#generalButton {
 bottom: 310px;
max-width: 250px;
    
}

#advisingButton {
    bottom: 240px;
    max-width: 250px;
    background-color: grey;
}

#facultyButton {
    bottom: 170px;
    max-width: 250px;
    background-color: grey;
}

#facilitiesButton {
    color: white;
    bottom: 100px;
    background-color: grey;
}

#sectiontitle {
    position: absolute;
    margin-top: 10px;
    width: 250px;
    text-align: center;
    background-color: white;
}

.blueItalic {
    font-size: 20px;
    color: #002855;
    font-style: italic;
}

.goldBold {
    font-size: 21px;
    color: #C99700;
    font-weight: 800;
}


/*----- COLUMN 2 CSS HERE ----- */

#column2 #secondaryHeader {
    position: absolute;
    width: 250px;
    height: 80px;
    margin-top: 15px;
  

}

#secondaryHeader h3 {
    padding: 20px 0px 0px 10px;
    background-color: #002855;
    font-size: 32px;
    color: white;
}

#secondaryHeader p {
    padding-left: 25px;
    color: grey;
}

#column2 ul {
    list-style-type: none;
    position: absolute;
    bottom: 100px;
   
}

#column2 ul li {
    padding: 5px 80px 0px 30px;
    margin-bottom: 10px;
    background-color: white;
}

#column2 ul .tertiaryTitle,
#column2 ul .tertiaryTitle:hover {
    color: #002855;
    font-weight: 600;
    padding-left: 10px;
    background-color: white;
}

#column2 ul li:hover {
    background-color: #94b8e3;
}

#column2 ul li:last-child {
    margin-bottom: 0px;
}


/*----- COLUMN 3 CSS HERE ----- */

#column3 {
    // background-color: lightgrey;
}


/*----- COLUMN 4 CSS HERE ----- */

#column4 {
    //background-color: lightgrey;
}


/*----- COLUMN 5 CSS HERE ----- */

#column5 {
    //background-color: lightgrey;
}


/*----- COLUMN 6 CSS HERE ----- */

#column6 {
    //background-color: lightgrey;
}


/*----- COLUMN 7 CSS HERE ----- */

#column7Image {
    height: 1000px;
    background-image: url(../images/infoColumn.svg);
    background-repeat: no-repeat;
    background-size: 280px 1080px;
}

embed {
    visibility: hidden;
    position: absolute;
    height: 1000px;
    margin-top: 15px;
    width: 800px;
}

.swfObject1,
.swfObject2,
.swfObject3,
.swfObject4,
.swfObject5,
.swfObject6,
.swfObject7,
.swfObject8,
.swfObject9,
.swfObject10,
.swfObject11,
.swfObject12,
.swfObject13,
.swfObject14,
.swfObject15,
.swfObject16,
.swfObject17,
.swfObject18,
.swfObject1-2,
.swfObject2-2,
.swfObject3-2,
.swfObject4-2,
.swfObject5-2,
.swfObject6-2,
.swfObject7-2,
.swfObject8-2,
.swfObject9-2,
.swfObject10-2,
.swfObject1-3,
.swfObject2-3,
.swfObject3-3,
.swfObject4-3,
.swfObject5-3,
.swfObject6-3,
.swfObject7-3,
.swfObject8-3,
.swfObject9-3,
.swfObject10-3,
.swfObject11-3,
.swfObject12-3,
.swfObject13-3,
.swfObject14-3,
.swfObject15-3,
.swfObject16-3,
.swfObject17-3,
.swfObject18-3,
.swfObject19-3,
.swfObject20-3,
.swfObject21-3 {
    position: absolute;
    height: 1000px;
    margin-top: 15px;
    width: 800px;
}

#advising {
 // visibility: hidden;
}

#faculty1 {
    visibility: hidden;
}

#faculty2 {
    visibility: hidden;
}

#facilities {
  visibility: hidden;
}